@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header {
    width: 100%;
    height: 80px;
    background: linear-gradient(90deg, #1e3c72, #2a5298);
    color: white;
}

.center {
    width: 1280px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar ul{
    display: flex;
    list-style: none;
}

.navbar ul li {
    margin: 0 20px;
}

.navbar ul li a {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.4s;
}

.navbar ul li a:hover {
    color: rgb(100, 200, 237);
}

/*SECTION 1*/

#container1 {
    width: 100%;
    height: 800px;
    background-image: url("../images/hero.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.blackdoor {
    width: 100%;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.291);
}

.subtitleHero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    color: white;
    font-weight: bold;
    font-size: 21px;
    text-align: center;
}

.subtitleHero h3 {
    width: 70%;
}

#container1 p{
    color: white;
}

/*SECTION 2*/
#container2 {
    width: 100%;
    height: auto;
}

#container2 h2 {
    text-align: center;
    padding: 50px 0;
}

.contentContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}

.contentContainer p{
    width: 50%;
    line-height: 1.6em;
    font-size: 16px;
    text-align: justify;
}



/*CONTAINER3*/

#container3 {
    width: 80%;
    margin: 80px auto;
}

#container3 p {
    width: 100%;
    line-height: 1.7em;
    font-size: 16px;
    text-align: justify;
}

footer {
    width: 100%;
    height: 70px;
    background: linear-gradient(90deg, #1e5a72a0, #2a7598a1);

}

footer div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;  
}

footer div p {
    color: white;
    font-weight: bold;
    font-size: 16px;
}











